<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body>
<nav th:replace="~{fragments.html :: main-nav}"></nav>
<div th:replace="~{fragments.html :: study-banner}"></div>
<div class="container">
    <div th:replace="~{fragments.html :: study-info}"></div>
    <div th:replace="~{fragments.html :: study-menu(studyMenu='settings')}"></div>
    <div class="row mt-3 justify-content-center">
        <div class="col-2">
            <div th:replace="~{fragments.html :: study-settings-menu(currentMenu='zones')}"></div>
        </div>
        <div class="col-8">
            <div class="row">
                <h2 class="col-sm-12">주요 활동 지역</h2>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div hidden id="whitelist" th:text="${whitelist}"></div>
                    <input aria-describedby="tagHelp" class="tagify-outside" id="zones" name='zones-outside'
                           placeholder="스터디 지역을 입력하세요." th:value="${#strings.listJoin(zones, ',')}"
                           type="text"/>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments.html :: footer}"></th:block>
<script th:replace="~{fragments.html :: ajax-csrf-header}"></script>
<script th:replace="~{fragments.html :: update-zones(baseUrl='/study/' + ${study.path} + '/settings/zones')}"></script>
</body>
</html>