<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body class="bg-light">
<div th:replace="~{fragments.html :: main-nav}"></div>

<div class="row" id="study-logo" th:if="${study.useBanner}">
    <img th:src="${study.bannerImage}"/>
</div>

<div class="container">
    <div th:replace="~{fragments.html :: study-info}"></div>
    <div th:replace="~{fragments.html :: study-menu(studyMenu='info')}"></div>

    <div class="row px-3 justify-content-center">
        <div class="col-10 pt-3" th:utext="${study.fullDescription}"></div>
    </div>
</div>
<th:block th:replace="~{fragments.html :: footer}"></th:block>
<script type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>