<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>

<body class="bg-light">
<div th:replace="~{fragments.html :: main-nav}"></div>
<div class="alert alert-warning text-center" role="alert" th:if="${usersEntity != null && !usersEntity.emailVerified}">
    가입을 완료하려면 <a class="alert-link" href="#" th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요.
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h1>RunningWith@</h1>
        <p class="lead text-muted">
            온라인,오프라인 스터디 관리 플랫폼
        </p>
        <p sec:authorize="!isAuthenticated()">
            <a class="btn btn-primary my-2" th:href="@{/sign-up}">회원 가입</a>
        </p>
    </div>
</section>
<th:block th:replace="~{fragments.html :: footer}"></th:block>
</body>
</html>