<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>

<body class="bg-light">
<div th:replace="~{fragments.html :: main-nav}"></div>

<div class="container">
    <div class="py-5 text-center">
        <p class="lead">RunningWith@</p>
        <h2>로그인</h2>
    </div>
    <div class="row justify-content-center">
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            <p>이메일(닉네임),패스워드가 정확하지 않습니다.</p>
            <a href="#" th:href="@{/find-passsword}">패스워드 찾기</a>
        </div>

        <form action="#" class="needs-validation col-sm-6" method="post" novalidate th:action="@{/login}">
            <div class="form-group">
                <label for="username">이메일 또는 닉네임</label>
                <input aria-describedby="emailHelp" class="form-control" id="username" name="username"
                       placeholder="your@email.com" required type="text">
                <small class="invalid-feedback">이메일을 입력하세요.</small>
            </div>
            <div class="form-group">
                <label for="password">패스워드</label>
                <input aria-describedby="passwordHelp" class="form-control" id="password" name="password"
                       required type="password">
                <small class="invalid-feedback">패스워드를 입력하세요.</small>
            </div>

            <div class="form-group form-check">
                <input checked class="form-check-input" id="rememberMe" name="remember-me" type="checkbox">
                <label aria-describedby="rememberMeHelp" class="form-check-label" for="rememberMe">로그인 유지</label>
            </div>

            <div class="form-group">
                <button aria-describedby="submitHelp" class="btn btn-success btn-block"
                        type="submit">로그인
                </button>
                <small class="form-text text-muted" id="submitHelp">
                    <a href="#" th:href="@{/sign-up}">계정 생성</a>
                </small>
            </div>
        </form>
    </div>

</div>
<th:block th:replace="~{fragments.html :: footer}"></th:block>
<script th:replace="~{fragments.html :: form-validation}"></script>
</body>
</html>